/* GENERAL */
body {
  background: #efefef;
  font-family: Roboto, sans-serif;
}
.container {
  width: 1024;
  margin: 0;
}
h1 {
  color: #393c6c;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin: 20px 0;
  font-size: 30px;
  font-weight: bold;
  color: coral;
  text-align: left;
}

h3 {
  color: #393c6c;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* HEADER */
header {
  height: 80px;
  background-color: #ffffff;
  border: 1px solid #f3735f;
}
header > div {
  height: 100%;
}
header img {
  width: 200px;
  margin-top: 25px;
  margin-left: 8%;
}
/* MAIN */
.white-box-container {
  height: 100%;
  padding-top: 140px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.white-box {
  background: #ffffff;
  border-radius: 10px;
  position: relative;
  width: 80%;
  height: 100;
  padding: 24px;
}
main > div.container {
  background-color: #fff;
  /* height: 400px; */
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.baseline {
  font-size: 12px;
  color: #8a98b1;
  text-align: center;
  margin-top: 10px;
}
.time {
  font-size: 22px;
  font-weight: bold;
  color: white;
  width: 400px;
  background-color: #8a98b1;
  padding: 17px 0 15px 0;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
  margin: 20px auto;
}
/* Images Bloc */
.imagesBloc img {
  width: 30%;
  height: 200px;
  border-radius: 10px;
}
/* imagesBloc */
.imagesBloc {
  display: flex;
  justify-content: space-between;
  background-position: center center;
  background-repeat: no-repeat;
}
.imageBloc img :nth-child(2) {
  margin: 0 calc((100%-900px) / 2);
}
.ingredient ul {
  list-style: disc inside;
  margin-top: 10px;
}

.prep p {
  margin-bottom: 30px;
}
.footer-text {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #6c6c6c;
  margin-top: 60px;
  margin-bottom: 60px;
  justify-content: flex-end;
  align-items: bottom;
}
